.example-header-image {
    background-image: url("../../../assets/icon/colombia_18292.ico");
   // background-image: url("assets/icon/colombia_18292.ico");
    background-size: cover;
}  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .err-msg{
    text-align: center;
    background-color: red;
    color: white
  }

  .btn{
    margin: 1rem;
  }