<div class="m-3">
    <form name="f" [formGroup]="formGroup" class="form">
        <div *ngIf="mode == 'form'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Product data</mat-card-title>
                    <mat-card-subtitle>by<a href="github.com/juanmahecha9">juanmahecha9</a></mat-card-subtitle>
                </mat-card-header>

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input class="text-center" type="text" matInput placeholder=""
                        formControlName="name" #name>
                    <mat-icon matSuffix>rowing</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.name" class="err-msg">
                    The name is required
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Category</mat-label>
                    <input class="text-center" type="text" matInput placeholder=""
                        formControlName="category" #name>
                    <mat-icon matSuffix>category</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.category" class="err-msg">
                    The category is required
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Quantity</mat-label>
                    <input class="text-center" type="number" matInput placeholder=""
                        formControlName="quantity" #name>
                    <mat-icon matSuffix>format_list_numbered</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.quantity" class="err-msg">
                    The quantity is required
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Price $</mat-label>
                    <input class="text-center" type="number" matInput placeholder=""
                        formControlName="price" #name>
                    <mat-icon matSuffix>money_off</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.price" class="err-msg">
                    The price is required
                </div>

                <div class="row justity-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" (click)="submit()">Data verify!</button>
                    </div>
                </div>

            </mat-card>
        </div>
        <div *ngIf="mode == 'preview'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Preview data</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput disabled [value]="data.name">
                            <mat-icon matSuffix>rowing</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput disabled [value]="data.category">
                            <mat-icon matSuffix>rowing</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput disabled [value]="data.quantity">
                            <mat-icon matSuffix>rowing</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput disabled [value]="data.price">
                            <mat-icon matSuffix>rowing</mat-icon>
                        </mat-form-field>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <div class="row justity-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" (click)="onSubmit()">Data send!</button>
                            <button type="button" class="btn btn-warning" (click)="onBack()">Back!</button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </form>
</div>